<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreeTAKServer_Manager_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FreeTAKServer_Manager_WPF.Properties.Settings>
            <setting name="PythonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailCheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupServer_CheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailPass" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSmtp" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailBody" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailUsername" serializeAs="String">
                <value />
            </setting>
        </FreeTAKServer_Manager_WPF.Properties.Settings>
    </userSettings>
</configuration>